/db.sqlite3
/venv
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
__pycache__/
*.pyc
Donuts/__pycache__/admin.cpython-311.pyc
Donuts/__pycache__/models.cpython-311.pyc

